<div class="page-section-1">
  <div class="container">
    <div class="page-header">
      <h1>About Us</h1>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right">
        <img alt="Caviar team photo 3" class="img-rounded" src="//rewrd.blob.core.windows.net/assets/rewrd_team_photo_3.jpg">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <p class="block-text">Caviar was founded in the summer of 2012 by five individuals who appreciate a good meal. We are a passionate team of operators, relationship managers, engineers, and designers.</p>

        <h2>Our Mission</h2>
        <p>Caviar’s mission is to provide access to the city’s best restaurants in the comfort of your home or office, enabled by technology. Browse a picture menu, customize your meal, and get delivery straight to your door. No minimums and no compromises.</p>
        <p>Only premium food and premium delivery.</p>

        <h2>Contact Us</h2>
        <address>
          220 Montgomery St, Suite 370<br>
          San Francisco, CA 94104<br>
          1 (888) 978-5619<br>
          info@rewrd.com
        </address>
      </div>

    </div>
  </div>
</div>
<div class="page-section-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <br>
        <img alt="Caviar courier 1" class="img-rounded" src="//rewrd.blob.core.windows.net/assets/rewrd_courier_1.jpg">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <br>
        <img alt="Caviar catering 2" class="img-rounded" src="//rewrd.blob.core.windows.net/assets/rewrd_catering_2.jpg">
      </div>
    </div>
  </div>
</div>