<header>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle visible-xs" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<div class="pull-left visible-lg visible-md visible-sm"> {{#link-to "index" class="navbar-brand logo"}} <img alt="Rewrd logo" src="//rewrd.blob.core.windows.net/assets/rewrd_logo.png"> {{/link-to}}</div>
				<div class="visible-xs"> {{#link-to "index" class="navbar-brand xs logo"}} <img alt="Rewrd logo" src="//rewrd.blob.core.windows.net/assets/rewrd_logo.png"> {{/link-to}}</div>
				<ul class="nav navbar-nav hidden-xs">
					<li {{bind-attr class=":dropdown view.selectCoin:open"}}> <a {{action "toggleSelectCoin" target="view" bubbles=false}} href="#" class="dropdown-toggle">{{view.selectedCoin}}<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>{{#link-to "bitcoin"}}Bitcoin{{/link-to}}</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="visible-sm visible-xs">{{#link-to "carts"}}My Cart{{/link-to}}</li>
					<li class="visible-sm visible-xs"><a href="#">Checkout</a></li>
					<li> {{#link-to "orders"}}My Orders{{/link-to}} </li>
				</ul>
			</div>
		</div>
		<div id="cart-status-affix" class="hidden-xs">
			<div class="container">
				<div class="row">
					<div class="pull-left col-lg-9 col-md-9 col-sm-12">
						<h4 class="pull-left visible-lg visible-sm">Select your currency:</h4>
						<h4 class="pull-left visible-md">Currency:</h4>
						<form accept-charset="UTF-8" action="/carts/sUJ36WEa" class="form-inline" id="delivery-time-form" method="post" role="form">
							<div style="display:none">
								<input name="utf8" type="hidden" value="✓">
								<input name="_method" type="hidden" value="put">
								<input name="authenticity_token" type="hidden" value="b0madXT+Pz2IV0eEqn1g2/EGkXv+gzAh7icgN8CKyrg=">
							</div>
							<input id="cart_time_zone" name="cart[time_zone]" type="hidden" value="Central Time (US &amp; Canada)">
							<input id="cart_service_region_id" name="cart[service_region_id]" type="hidden" value="5">
							<div class="form-group">
								<div {{bind-attr class=":btn-group :bootstrap-select view.selectCurrency:open"}}>
									<button {{action "toggleSelectCurrency" bubbles=false target="view"}} type="button" class="btn dropdown-toggle selectpicker btn-default" {{bind-attr title="selectedCurrency.region"}}><span class="filter-option pull-left">{{selectedCurrency.isoCode}}</span>&nbsp;<span class="caret"></span></button>
									<div class="dropdown-menu open">
										<ul class="dropdown-menu inner selectpicker" role="menu">
											{{#each currencies}}
											<li {{bind-attr rel="_view.contentIndex" class="view.selectedCurrencyIsUSD:selected"}}><a tabindex="0" {{action "selectCurrency" this bubbles=false target="view"}}>{{this.isoCode}}<i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
											{{/each}}
										</ul>
									</div>
								</div>
							</div>
              {{#if view.hasRegions}}
              <div class="form-group">
								<div {{bind-attr class=":btn-group :bootstrap-select view.selectRegion:open"}}>
									<button {{action "toggleSelectRegion" bubbles=false target="view"}} type="button" class="btn dropdown-toggle selectpicker btn-default" {{bind-attr title="selectedRegion.region"}}><span class="filter-option pull-left">{{selectedRegion.region}}</span>&nbsp;<span class="caret"></span></button>
									<div class="dropdown-menu open">
										<ul class="dropdown-menu inner selectpicker" role="menu">
											{{#each regions}}
											<li {{bind-attr rel="_view.contentIndex" class="view.selectedCurrencyIsUSD:selected"}}><a tabindex="0" {{action "selectRegion" this bubbles=false target="view"}}>{{this.region}}<i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
											{{/each}}
										</ul>
									</div>
								</div>
							</div>
              {{/if}}
							<div class="form-group">
								<div {{bind-attr class=":btn-group :bootstrap-select view.selectVCurrency:open"}}>
									<button type="button" class="btn dropdown-toggle selectpicker btn-default" {{action "toggleSelectVCurrency" bubbles=false target="view"}} title="10:00 AM - 11:00 AM"><span class="filter-option pull-left">{{selectedVCurrency.title}}</span>&nbsp;<span class="caret"></span></button>
									<div class="dropdown-menu open">
										<ul class="dropdown-menu inner selectpicker" role="menu">
											{{#each vCurrencies}}
                      <li {{bind-attr rel="_view.contentIndex" class="view.selectedCurrencyIsUSD:selected"}}><a tabindex="0" {{action "selectVCurrency" this bubbles=false target="view"}}>{{this.title}}<i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                      {{/each}}
										</ul>
									</div>
								</div>
							</div>
							<button class="btn btn-primary btn-sm" name="button" type="submit">Update</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<div id="basic-header-padder"></div>
<div id="ordering-header-padder" class="hidden-xs"></div>
<div id="flash-notice">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
				Your desired delivery time has expired and has been set to the next available window. Our delivery hours are from 9AM to 11PM.
			</div>
			<div class="col-lg-2 col-md-2 hidden-sm hidden-xs text-right text-small unbold">
				Click to Dismiss
			</div>
		</div>
	</div>
</div>
{{outlet}}
<footer>
  <nav role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <span>{{#link-to "about-us"}}About Us{{/link-to}}</span>
          <span>{{#link-to "press"}}Press{{/link-to}}</span>
          <span>{{#link-to "privacy-and-terms"}}Privacy &amp; TOS{{/link-to}}</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <span>{{#link-to "for-companies"}}For Companies{{/link-to}}</span>
          <span><a href="https://rewrd.wufoo.com/forms/caviar-food-messenger-application/" target="_blank">Apply To Be A Courier</a></span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <span>{{#link-to "help"}}Help{{/link-to}}</span>
            <span>help@rewrd.com</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="pull-right">
            <a href="https://www.facebook.com/rewrd" id="facebook-icon" target="_blank">Facebook</a>
            <a href="https://twitter.com/rewrd" id="twitter-icon" target="_blank">Twitter</a>
            <a href="http://instagram.com/rewrd" id="instagram-icon" target="_blank">Instagram</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</footer>