<div class="modal fade" id="hours-modal" tabindex="-1" role="dialog">
  {{#view Rewrd.ModalView}}
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" {{action "toggleRatesModal" target="view.parentView" bubbles=false}}>&times;</button>
        <h2 class="modal-title">Available Exchange Rates</h2>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
                <th>1 XBT</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>EUR</td>
                  <td>{{money 121 controller.controllers.application.selectedRegion}}</td>
              </tr>
              <tr>
                <td>USD</td>
                  <td>{{money 121 controller.controllers.application.selectedRegion}}</td>
              </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" {{action "toggleRatesModal" target="view.parentView" bubbles=false}}>Close</button>
      </div>
    </div>
  {{/view}}
</div>
<div class="modal fade" id="offerModal" tabindex="-1" role="dialog">
	{{#view Rewrd.ModalView}}
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" {{action "hideOfferModal" target="view.parentView" bubbles=false}}>&times;</button>
				<h4 class="modal-title">{{money offer.amount controller.controllers.application.selectedRegion}} Gift Card</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> <img alt="8035" class="img-responsive img-rounded" src="//rewrd.blob.core.windows.net/assets/1140.jpg"> <br>
					</div>
					<form accept-charset="UTF-8" action="/carts/sUJ36WEa/items" class="edit_offer" id="edit_offer_8035" method="post" role="form">
						<div style="display:none">
							<input name="utf2" type="hidden" value="✓">
							<input name="authenticity_token2" type="hidden" value="b0madXT+Pz2IV0eEqn1g2/EGkXv+gzAh7icgN8CKyrg=">
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 15px;">
							<div style="margin-bottom: 5px;"> <strong> Choice of: <span class="label label-warning">Required</span> </strong> </div>
							<div>
								<input data-price-adjustment="0.0" id="cart_item_options_2006_8810" name="cart_item[options][2006][]" type="radio" value="8810">
								<label for="cart_item_options_2006_8810" class="unbold"> Fried Chicken Tenders <small> <em> </em> </small> </label>
							</div>
							<div>
								<input data-price-adjustment="0.0" id="cart_item_options_2006_8809" name="cart_item[options][2006][]" type="radio" value="8809">
								<label for="cart_item_options_2006_8809" class="unbold"> Boneless Chicken Breast <small> <em> </em> </small> </label>
							</div>
							<div>
								<input data-price-adjustment="0.0" id="cart_item_options_2006_8811" name="cart_item[options][2006][]" type="radio" value="8811">
								<label for="cart_item_options_2006_8811" class="unbold"> Veggy Patty <small> <em> </em> </small> </label>
							</div>
							<div>
								<input data-price-adjustment="0.0" id="cart_item_options_2006_9550" name="cart_item[options][2006][]" type="radio" value="9550">
								<label for="cart_item_options_2006_9550" class="unbold"> 10 oz. Beef Patty (Rare) <small> <em> </em> </small> </label>
							</div>
							<div>
								<input data-price-adjustment="0.0" id="cart_item_options_2006_9551" name="cart_item[options][2006][]" type="radio" value="9551">
								<label for="cart_item_options_2006_9551" class="unbold"> 10 oz. Beef Patty (Medium Rare) <small> <em> </em> </small> </label>
							</div>
							<div>
								<input data-price-adjustment="0.0" id="cart_item_options_2006_9553" name="cart_item[options][2006][]" type="radio" value="9553">
								<label for="cart_item_options_2006_9553" class="unbold"> 10 oz. Beef Patty (Medium Well) <small> <em> </em> </small> </label>
							</div>
							<div>
								<input data-price-adjustment="0.0" id="cart_item_options_2006_9554" name="cart_item[options][2006][]" type="radio" value="9554">
								<label for="cart_item_options_2006_9554" class="unbold"> 10 oz. Beef Patty (Well Done) <small> <em> </em> </small> </label>
							</div>
							<div>
								<input data-price-adjustment="0.0" id="cart_item_options_2006_9552" name="cart_item[options][2006][]" type="radio" value="9552">
								<label for="cart_item_options_2006_9552" class="unbold"> 10 oz. Beef Patty (Medium) <small> <em> </em> </small> </label>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 15px;">
							<div style="margin-bottom: 5px;"> <strong> Choice of: <span class="label label-warning">Required</span> </strong> </div>
							<div>
								<input data-price-adjustment="0.0" id="cart_item_options_2007_8813" name="cart_item[options][2007][]" type="radio" value="8813">
								<label for="cart_item_options_2007_8813" class="unbold"> House Made Chips <small> <em> </em> </small> </label>
							</div>
							<div>
								<input data-price-adjustment="3.0" id="cart_item_options_2007_8815" name="cart_item[options][2007][]" type="radio" value="8815">
								<label for="cart_item_options_2007_8815" class="unbold"> Caesar Salad <small> <em> (+$3.00) </em> </small> </label>
							</div>
							<div>
								<input data-price-adjustment="0.0" id="cart_item_options_2007_8812" name="cart_item[options][2007][]" type="radio" value="8812">
								<label for="cart_item_options_2007_8812" class="unbold"> Hand Cut Fries <small> <em> </em> </small> </label>
							</div>
							<div>
								<input data-price-adjustment="3.0" id="cart_item_options_2007_8814" name="cart_item[options][2007][]" type="radio" value="8814">
								<label for="cart_item_options_2007_8814" class="unbold"> House Salad <small> <em> (+$3.00) </em> </small> </label>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 15px;">
							<div style="margin-bottom: 5px;"> <strong> Add Extras: (Select up to 17) </strong> </div>
							<div>
								<input data-price-adjustment="2.0" id="cart_item_options_2194_9559" name="cart_item[options][2194][]" type="checkbox" value="9559">
								<label for="cart_item_options_2194_9559" class="unbold"> Goat Cheese <small> <em> (+$2.00) </em> </small> </label>
							</div>
							<div>
								<input data-price-adjustment="2.0" id="cart_item_options_2194_9568" name="cart_item[options][2194][]" type="checkbox" value="9568">
								<label for="cart_item_options_2194_9568" class="unbold"> Red Pepper <small> <em> (+$2.00) </em> </small> </label>
							</div>
							<div>
								<input data-price-adjustment="2.0" id="cart_item_options_2194_9571" name="cart_item[options][2194][]" type="checkbox" value="9571">
								<label for="cart_item_options_2194_9571" class="unbold"> Poached Pear <small> <em> (+$2.00) </em> </small> </label>
							</div>
							<div>
								<input data-price-adjustment="2.0" id="cart_item_options_2194_9558" name="cart_item[options][2194][]" type="checkbox" value="9558">
								<label for="cart_item_options_2194_9558" class="unbold"> Cheddar Cheese <small> <em> (+$2.00) </em> </small> </label>
							</div>
							<div>
								<input data-price-adjustment="2.0" id="cart_item_options_2194_9561" name="cart_item[options][2194][]" type="checkbox" value="9561">
								<label for="cart_item_options_2194_9561" class="unbold"> Monterrey Jack Cheese <small> <em> (+$2.00) </em> </small> </label>
							</div>
							<div>
								<input data-price-adjustment="2.0" id="cart_item_options_2194_9562" name="cart_item[options][2194][]" type="checkbox" value="9562">
								<label for="cart_item_options_2194_9562" class="unbold"> Gouda <small> <em> (+$2.00) </em> </small> </label>
							</div>
							<div>
								<input data-price-adjustment="2.0" id="cart_item_options_2194_9567" name="cart_item[options][2194][]" type="checkbox" value="9567">
								<label for="cart_item_options_2194_9567" class="unbold"> Frizzled Onions <small> <em> (+$2.00) </em> </small> </label>
							</div>
							<div>
								<input data-price-adjustment="2.0" id="cart_item_options_2194_9555" name="cart_item[options][2194][]" type="checkbox" value="9555">
								<label for="cart_item_options_2194_9555" class="unbold"> Avocado <small> <em> (+$2.00) </em> </small> </label>
							</div>
							<div>
								<input data-price-adjustment="2.0" id="cart_item_options_2194_9557" name="cart_item[options][2194][]" type="checkbox" value="9557">
								<label for="cart_item_options_2194_9557" class="unbold"> Brie <small> <em> (+$2.00) </em> </small> </label>
							</div>
							<div>
								<input data-price-adjustment="2.0" id="cart_item_options_2194_9564" name="cart_item[options][2194][]" type="checkbox" value="9564">
								<label for="cart_item_options_2194_9564" class="unbold"> Caramelized Onions <small> <em> (+$2.00) </em> </small> </label>
							</div>
							<div>
								<input data-price-adjustment="2.0" id="cart_item_options_2194_9566" name="cart_item[options][2194][]" type="checkbox" value="9566">
								<label for="cart_item_options_2194_9566" class="unbold"> Fried Egg <small> <em> (+$2.00) </em> </small> </label>
							</div>
							<div>
								<input data-price-adjustment="2.0" id="cart_item_options_2194_9569" name="cart_item[options][2194][]" type="checkbox" value="9569">
								<label for="cart_item_options_2194_9569" class="unbold"> Poblano Pepper <small> <em> (+$2.00) </em> </small> </label>
							</div>
							<div>
								<input data-price-adjustment="2.0" id="cart_item_options_2194_9570" name="cart_item[options][2194][]" type="checkbox" value="9570">
								<label for="cart_item_options_2194_9570" class="unbold"> Grilled Pineapple <small> <em> (+$2.00) </em> </small> </label>
							</div>
							<div>
								<input data-price-adjustment="2.0" id="cart_item_options_2194_9556" name="cart_item[options][2194][]" type="checkbox" value="9556">
								<label for="cart_item_options_2194_9556" class="unbold"> Bacon <small> <em> (+$2.00) </em> </small> </label>
							</div>
							<div>
								<input data-price-adjustment="2.0" id="cart_item_options_2194_9560" name="cart_item[options][2194][]" type="checkbox" value="9560">
								<label for="cart_item_options_2194_9560" class="unbold"> Pepper Jack Cheese <small> <em> (+$2.00) </em> </small> </label>
							</div>
							<div>
								<input data-price-adjustment="2.0" id="cart_item_options_2194_9563" name="cart_item[options][2194][]" type="checkbox" value="9563">
								<label for="cart_item_options_2194_9563" class="unbold"> Blue Cheese <small> <em> (+$2.00) </em> </small> </label>
							</div>
							<div>
								<input data-price-adjustment="2.0" id="cart_item_options_2194_9565" name="cart_item[options][2194][]" type="checkbox" value="9565">
								<label for="cart_item_options_2194_9565" class="unbold"> Sauteed Mushrooms <small> <em> (+$2.00) </em> </small> </label>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 15px;">
							<label for="special_instructions">Special Item Instructions:</label>
							<textarea id="cart_item_special_instructions" rows="4" name="cart_item[special_instructions]" class="form-control input-md" placeholder="Ex. 'Hold the mayo please!' (Any resulting price adjustments will be added by the restaurant after checkout.)"></textarea>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 15px;">
							<div id="offer-show-quantity-label" class="pull-left"> Quantity: </div>
							<div class="pull-left">
								<select class="selectpicker span2" id="cart_item_quantity" name="cart_item[quantity]" style="display: none;">
									<option selected="selected" value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
								</select>
								<div class="btn-group bootstrap-select span2">
									<button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" data-id="cart_item_quantity" title="1"><span class="filter-option pull-left">1</span>&nbsp;<span class="caret"></span></button>
									<div class="dropdown-menu open">
										<ul class="dropdown-menu inner selectpicker" role="menu">
											<li rel="0" class="selected"><a tabindex="0" class="" style="">1<i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
											<li rel="1"><a tabindex="0" class="" style="">2<i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
											<li rel="2"><a tabindex="0" class="" style="">3<i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
											<li rel="3"><a tabindex="0" class="" style="">4<i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
											<li rel="4"><a tabindex="0" class="" style="">5<i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
											<li rel="5"><a tabindex="0" class="" style="">6<i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
											<li rel="6"><a tabindex="0" class="" style="">7<i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
											<li rel="7"><a tabindex="0" class="" style="">8<i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
											<li rel="8"><a tabindex="0" class="" style="">9<i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
											<li rel="9"><a tabindex="0" class="" style="">10<i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div id="offer-show-price" class="pull-right"> <span id="offer_base" data-base-price="13.0">$13.00</span> Each </div>
						</div>
						<input id="cart_item_offer_id" name="cart_item[offer_id]" type="hidden" value="8035">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<input class="btn btn-lg btn-primary" name="commit2" style="width: 100%" type="submit" value="Add to Cart">
						</div>
					</form>
				</div>
			</div>
		</div>
	{{/view}}
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-12"> <a class="continue-shopping pull-right btn btn-default btn-sm" href="/chicago/cemitas-puebla-294">Return to Cemitas Puebla »</a> <a class="pull-left btn btn-default btn-sm" href="/san-francisco">« Back to San Francisco</a>
			<div id="order-time-left" class="text-left hidden-xs"> Order within <strong>22 minutes</strong> to receive it today between  7:30pm -  8:30pm. </div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="banner" style="background-image: url(//rewrd.blob.core.windows.net/assets/merchant_agc.jpg);">
				<div class="mask">
					<div class="pull-left">
						<div class="visible-lg visible-md">
							<h1>Bitcoin Gift Cards</h1>
						</div>
						<div class="visible-sm visible-xs">
							<h3>Bitcoin Gift Cards</h3>
						</div>
						<span class="block-text">Buy a gift card for bitcoins instantly. Pay with PayPal.</span> <br>
						<a class="btn-sm" {{action "toggleRatesModal" target="view" bubbles=false}} href="#">View Available Exchange Rates</a>
						<div class="visible-xs">
							<form accept-charset="UTF-8" action="/carts/sUJ36WEa" class="edit_cart" id="edit_cart_461251" method="post">
								<div style="display:none">
									<input name="utf8" type="hidden" value="✓">
									<input name="_method" type="hidden" value="patch">
									<input name="authenticity_token" type="hidden" value="b0madXT+Pz2IV0eEqn1g2/EGkXv+gzAh7icgN8CKyrg=">
								</div>
								<input id="cart_status_event" name="cart[status_event]" type="hidden" value="share_cart">
								<input id="cart_service_region_id" name="cart[service_region_id]" type="hidden" value="1">
								<input id="cart_merchant_id" name="cart[merchant_id]" type="hidden" value="27">
								<input class="btn-sm" name="commit" type="submit" value="Share Cart Using This Restaurant">
							</form>
						</div>
					</div>
					<div class="pull-right hidden-xs">
						<form accept-charset="UTF-8" action="/carts/sUJ36WEa" class="edit_cart" id="edit_cart_461251" method="post">
							<div style="display:none">
								<input name="utf" type="hidden" value="✓">
								<input name="_method" type="hidden" value="patch">
								<input name="authenticity_token" type="hidden" value="b0madXT+Pz2IV0eEqn1g2/EGkXv+gzAh7icgN8CKyrg=">
							</div>
							<input id="cart_status_event" name="cart[status_event]" type="hidden" value="share_cart">
							<input id="cart_service_region_id" name="cart[service_region_id]" type="hidden" value="1">
							<input id="cart_merchant_id" name="cart[merchant_id]" type="hidden" value="27">
							<input class="btn-sm" name="commit" type="submit" value="Share Cart Using This Restaurant">
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="row">
				{{#each arrangedContent}}
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="offer tile"> <a class="offer-link" {{action "showOfferModal" this target="view" bubbles=false}} href="#">
						<div class="header" style="background-image: url(//rewrd.blob.core.windows.net/assets/1140.jpg);">
							{{#if isUnavailable}}
							<div class="mask text-center">
								<h2>Unavailable</h2>
							</div>
							{{/if}}
						</div>
						<div class="content">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-8">
									<h5>{{#if isUnavailable}}(Bitcoin) {{/if}}{{money amount controller.controllers.application.selectedRegion}} Gift Card</h5>
									<p class="text-small">You buy {{btc volume controller.controllers.application.selectedVCurrency controller.controllers.application.selectedRegion}} gift card.</p>
									{{#if isUnavailable}}
									<p class="text-small"><strong>This item requires 24 hours advance notice.</strong></p>
									{{/if}}
								</div>
								<div class="col-xs-4 visible-xs price text-right"> {{money amount controller.controllers.application.selectedRegion}} </div>
							</div>
						</div>
						<div class="footer hidden-xs">
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="display: inline-block !important; float: right !important;">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="HLJMBP3NALKNU">
								<img border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" style="width: 1px !important;height: 1px !important;">
								<button {{bind-attr class=":btn :btn-primary :btn-sm :pull-right isUnavailable:disabled isUnavailable:disabled-offer:add-offer"}} type="button"> <span class="glyphicon glyphicon-shopping-cart"></span> {{#if isUnavailable}}Unavailable{{else}}Add to Cart{{/if}} </button>
							</form>
							<div class="pull-left price"> {{money amount controller.controllers.application.selectedRegion}} </div>
							<div class="clearfix"></div>
						</div>
						<div class="footer visible-xs">
							<button class="btn btn-primary btn-lg add-offer" type="button"> <span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart </button>
						</div>
					</a></div>
				</div>
				{{#mod _view.contentIndex 4 3}}
				<div class="clearfix visible-lg"></div>
				{{/mod}}
				{{#mod _view.contentIndex 3 2}}
				<div class="clearfix visible-md"></div>
				{{/mod}}
				{{#mod _view.contentIndex 2 1}}
				<div class="clearfix visible-sm"></div>
				{{/mod}}
				{{/each}}
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>