<div class="page-section-1">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <a class="pull-left btn btn-default btn-sm" href="/san-francisco/american-grilled-cheese-kitchen-27">« Back to American Grilled Cheese Kitchen</a>

          <a class="continue-shopping pull-right btn btn-default btn-sm" href="/chicago/cemitas-puebla-294">Return to Cemitas Puebla »</a>

        <br>
        <br>
        


      <div id="order-time-left" class="text-left hidden-xs">
          Order within <strong>19 minutes</strong> to receive it today between  7:30pm -  8:30pm.
      </div>

      </div>
    </div>

    <div class="page-header">
      <h1>Smoky Tomato Soup</h1>
    </div>

    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30px;">
            <p id="offer-show-large-description">Served with crème fraîche, croutons</p>
          </div>

          <div class="hidden-lg hidden-md hidden-sm col-xs-12" style="margin: -15px 0 30px;">
            <img alt="1140" class="img img-responsive img-rounded" src="//rewrd.blob.core.windows.net/assets/1140.jpg">
          </div>

          <form accept-charset="UTF-8" action="/carts/sUJ36WEa/items" class="edit_offer" id="edit_offer_1140" method="post" role="form"><div style="display:none"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="b0madXT+Pz2IV0eEqn1g2/EGkXv+gzAh7icgN8CKyrg="></div>

  

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 15px;">
    <label for="special_instructions">Special Item Instructions:</label>
    <textarea id="cart_item_special_instructions" rows="4" name="cart_item[special_instructions]" class="form-control input-md" placeholder="Ex. 'Hold the mayo please!' (Any resulting price adjustments will be added by the restaurant after checkout.)"></textarea>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 15px;">
    <div id="offer-show-quantity-label" class="pull-left">
      Quantity:
    </div>
    <div class="pull-left">
      <select class="selectpicker span2" id="cart_item_quantity" name="cart_item[quantity]" style="display: none;"><option selected="selected" value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
<option value="32">32</option>
<option value="33">33</option>
<option value="34">34</option>
<option value="35">35</option>
<option value="36">36</option>
<option value="37">37</option>
<option value="38">38</option>
<option value="39">39</option>
<option value="40">40</option>
<option value="41">41</option>
<option value="42">42</option>
<option value="43">43</option>
<option value="44">44</option>
<option value="45">45</option>
<option value="46">46</option>
<option value="47">47</option>
<option value="48">48</option>
<option value="49">49</option>
<option value="50">50</option></select><div class="btn-group bootstrap-select span2"><button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" data-id="cart_item_quantity" title="1"><span class="filter-option pull-left">1</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open"><ul class="dropdown-menu inner selectpicker" role="menu"><li rel="0" class="selected"><a tabindex="0" class="" style=""><span class="text">1</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="1"><a tabindex="0" class="" style=""><span class="text">2</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="2"><a tabindex="0" class="" style=""><span class="text">3</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="3"><a tabindex="0" class="" style=""><span class="text">4</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="4"><a tabindex="0" class="" style=""><span class="text">5</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="5"><a tabindex="0" class="" style=""><span class="text">6</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="6"><a tabindex="0" class="" style=""><span class="text">7</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="7"><a tabindex="0" class="" style=""><span class="text">8</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="8"><a tabindex="0" class="" style=""><span class="text">9</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="9"><a tabindex="0" class="" style=""><span class="text">10</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="10"><a tabindex="0" class="" style=""><span class="text">11</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="11"><a tabindex="0" class="" style=""><span class="text">12</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="12"><a tabindex="0" class="" style=""><span class="text">13</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="13"><a tabindex="0" class="" style=""><span class="text">14</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="14"><a tabindex="0" class="" style=""><span class="text">15</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="15"><a tabindex="0" class="" style=""><span class="text">16</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="16"><a tabindex="0" class="" style=""><span class="text">17</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="17"><a tabindex="0" class="" style=""><span class="text">18</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="18"><a tabindex="0" class="" style=""><span class="text">19</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="19"><a tabindex="0" class="" style=""><span class="text">20</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="20"><a tabindex="0" class="" style=""><span class="text">21</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="21"><a tabindex="0" class="" style=""><span class="text">22</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="22"><a tabindex="0" class="" style=""><span class="text">23</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="23"><a tabindex="0" class="" style=""><span class="text">24</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="24"><a tabindex="0" class="" style=""><span class="text">25</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="25"><a tabindex="0" class="" style=""><span class="text">26</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="26"><a tabindex="0" class="" style=""><span class="text">27</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="27"><a tabindex="0" class="" style=""><span class="text">28</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="28"><a tabindex="0" class="" style=""><span class="text">29</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="29"><a tabindex="0" class="" style=""><span class="text">30</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="30"><a tabindex="0" class="" style=""><span class="text">31</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="31"><a tabindex="0" class="" style=""><span class="text">32</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="32"><a tabindex="0" class="" style=""><span class="text">33</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="33"><a tabindex="0" class="" style=""><span class="text">34</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="34"><a tabindex="0" class="" style=""><span class="text">35</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="35"><a tabindex="0" class="" style=""><span class="text">36</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="36"><a tabindex="0" class="" style=""><span class="text">37</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="37"><a tabindex="0" class="" style=""><span class="text">38</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="38"><a tabindex="0" class="" style=""><span class="text">39</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="39"><a tabindex="0" class="" style=""><span class="text">40</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="40"><a tabindex="0" class="" style=""><span class="text">41</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="41"><a tabindex="0" class="" style=""><span class="text">42</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="42"><a tabindex="0" class="" style=""><span class="text">43</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="43"><a tabindex="0" class="" style=""><span class="text">44</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="44"><a tabindex="0" class="" style=""><span class="text">45</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="45"><a tabindex="0" class="" style=""><span class="text">46</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="46"><a tabindex="0" class="" style=""><span class="text">47</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="47"><a tabindex="0" class="" style=""><span class="text">48</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="48"><a tabindex="0" class="" style=""><span class="text">49</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="49"><a tabindex="0" class="" style=""><span class="text">50</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li></ul></div></div>
    </div>
    <div id="offer-show-price" class="pull-right">
      <span id="offer_base" data-base-price="5.0">$5.00</span> Each
    </div>
  </div>

  <input id="cart_item_offer_id" name="cart_item[offer_id]" type="hidden" value="1140">

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


      <input class="btn btn-lg btn-primary" data-confirm="Adding an item from another restaurant will reset your cart. Are you sure?" name="commit" style="width: 100%" type="submit" value="Add to Cart">
  </div>

</form>

        </div>

      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
        <img alt="1140" class="img img-rounded img-responsive" src="//rewrd.blob.core.windows.net/assets/1140.jpg">
      </div>
    </div>
  </div>
</div>