<div class="page-section-1">
  <div class="container">
    <div class="page-header">
      <h1>For Companies</h1>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <p class="block-text"><strong>Looking for Corporate Meal Programs?</strong></p>
        <p class="block-text">Caviar offers companies and teams simple catering and group ordering options. No minimum or maximum size requirements. Customized menus based on dietary restrictions and budget, working with only the best restaurants in your city.</p>
        <br>
        <a class="btn btn-primary btn-lg" href="#company-inquiry">Get Started</a>
      </div>
      <br>
      <div class="col-lg-5 col-lg-offset-1">
        <img alt="Caviar catering 2" class="img-rounded" src="//rewrd.blob.core.windows.net/assets/rewrd_catering_2.jpg">
      </div>
    </div>
  </div>
</div>
<div class="page-section-2">
  <div class="container">
    <h2>How Does It Work?</h2>

    <div class="row block-text">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <p>1. We work with only the best restaurants.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <p>2. We plan your meals to budget and dietary restrictions.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <p>3. We deliver hot and on time.</p>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <img alt="1104" class="img-rounded" src="//rewrd.blob.core.windows.net/assets/1104.jpg">
        </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <img alt="10818" class="img-rounded" src="//rewrd.blob.core.windows.net/assets/10818.jpg">
        </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <img alt="1278" class="img-rounded" src="//rewrd.blob.core.windows.net/assets/1278.jpg">
        </div>
    </div>
  </div>
</div>
<div class="page-section-1">
  <div class="container">
    <div id="company-inquiry"></div>
    <h2>Catering thousands of meals daily. Trusted by hundreds of companies.</h2>
    <p class="block-text">Are you a company? Looking for catering options? Have a party, meeting, or event to plan? We've got you covered. Please fill out the form and our client team will reach out directly.</p>

    <br>
    <br>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
        <img alt="Kabam" class="img-rounded" src="//rewrd.blob.core.windows.net/assets/kabam.png" style="width: 300px; height: auto; margin-bottom: 45px;">
        <img alt="Deloitte" class="img-rounded" src="//rewrd.blob.core.windows.net/assets/deloitte.png" style="width: 300px; height: auto; margin-bottom: 60px;">
        <img alt="Rocketfuel" class="img-rounded" src="//rewrd.blob.core.windows.net/assets/rocketfuel.png" style="width: 300px; height: auto; margin-bottom: 30px;">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <form accept-charset="UTF-8" action="/company-form-submission" class="col-lg-8 col-md-8 col-sm-12 col-xs-12" method="post"><div style="display:none"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="b0madXT+Pz2IV0eEqn1g2/EGkXv+gzAh7icgN8CKyrg="></div>
          <input class="form-control" id="name" name="name" placeholder="Your Name" type="text" value="">
          <br>
          <input class="form-control" id="company_name" name="company_name" placeholder="Company Name" type="text" value="">
          <br>
          <input class="form-control" id="email" name="email" placeholder="Email Address" type="text" value="">
          <br>
          <input class="form-control" id="phone" name="phone" placeholder="Phone Number" type="text" value="">
          <br>
          <textarea class="form-control" id="additional_info" name="additional_info" placeholder="Anything you'd like us to know? (Typical order size, dietary restrictions, etc.)"></textarea>
          <br>
          <label for="How_did_you_hear_about_us_">How did you hear about us?</label>
          <select id="from" name="from" style="display: none;"><option value="Friend">Friend</option>
<option value="Online Ad">Online Ad</option>
<option value="Search Engine">Search Engine</option>
<option value="Press Article">Press Article</option>
<option value="Restaurant Partner">Restaurant Partner</option>
<option value="Social Media">Social Media</option>
<option value="Event">Event</option>
<option value="Yelp">Yelp</option>
<option value="Other">Other</option></select><div class="btn-group bootstrap-select"><button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" data-id="from" title="Friend"><span class="filter-option pull-left">Friend</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open"><ul class="dropdown-menu inner selectpicker" role="menu"><li rel="0" class="selected"><a tabindex="0" class="" style=""><span class="text">Friend</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="1"><a tabindex="0" class="" style=""><span class="text">Online Ad</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="2"><a tabindex="0" class="" style=""><span class="text">Search Engine</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="3"><a tabindex="0" class="" style=""><span class="text">Press Article</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="4"><a tabindex="0" class="" style=""><span class="text">Restaurant Partner</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="5"><a tabindex="0" class="" style=""><span class="text">Social Media</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="6"><a tabindex="0" class="" style=""><span class="text">Event</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="7"><a tabindex="0" class="" style=""><span class="text">Yelp</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="8"><a tabindex="0" class="" style=""><span class="text">Other</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li></ul></div></div>
          <br>
          <label for="Location:">Location:</label>
          <select id="location" name="location" style="display: none;"><option value="1">San Francisco</option>
<option value="2">Seattle</option>
<option value="3">Manhattan</option>
<option value="4">DC</option>
<option value="5">Chicago</option>
<option value="6">(SF) East Bay</option>
<option value="7">(SF) Peninsula</option>
<option value="8">Uptown Manhattan</option>
<option value="9">Boston</option></select><div class="btn-group bootstrap-select"><button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" data-id="location" title="San Francisco"><span class="filter-option pull-left">San Francisco</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open"><ul class="dropdown-menu inner selectpicker" role="menu"><li rel="0" class="selected"><a tabindex="0" class="" style=""><span class="text">San Francisco</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="1"><a tabindex="0" class="" style=""><span class="text">Seattle</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="2"><a tabindex="0" class="" style=""><span class="text">Manhattan</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="3"><a tabindex="0" class="" style=""><span class="text">DC</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="4"><a tabindex="0" class="" style=""><span class="text">Chicago</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="5"><a tabindex="0" class="" style=""><span class="text">(SF) East Bay</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="6"><a tabindex="0" class="" style=""><span class="text">(SF) Peninsula</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="7"><a tabindex="0" class="" style=""><span class="text">Uptown Manhattan</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="8"><a tabindex="0" class="" style=""><span class="text">Boston</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li></ul></div></div>
          <br>
          <br>
          <input class="pull-right btn btn-lg btn-success btn-block" name="commit" type="submit" value="Submit">
</form>      </div>
    </div>
  </div>
</div>