<div class="page-section-1">
  <div class="container">
    <div class="page-header">
      <h1>Help</h1>
    </div>
    <h2>General</h2>
    <ul>
      <li>
        <a href="#general-1">What's Caviar?</a>
      </li>
      <li>
        <a href="#general-2">How do I use Caviar?</a>
      </li>
      <li>
        <a href="#general-3">Why is the full menu not listed for some restaurants?</a>
      </li>
      <li>
        <a href="#general-4">What's sharing a cart?</a>
      </li>
    </ul>

    <h2>Account</h2>
    <ul>
      <li>
        <a href="#account-1">How do I change the email associated with my account?</a>
      </li>
      <li>
        <a href="#account-2">How do I change the address, phone number, or password associated with my account?</a>
      </li>
      <li>
        <a href="#account-3">How do I deactivate my account?</a>
      </li>
    </ul>

    <h2>Pricing and Payment</h2>
    <ul>
      <li>
        <a href="#pricing-and-payment-1">Does it cost anything to join Caviar?</a>
      </li>
      <li>
        <a href="#pricing-and-payment-2">Are your menu prices reflective of what is charged at the restaurant?</a>
      </li>
      <li>
        <a href="#pricing-and-payment-3">Why does it cost $9.99 for delivery?</a>
      </li>
      <li>
        <a href="#pricing-and-payment-4">Why is there an automatic gratuity charge?</a>
      </li>
      <li>
        <a href="#pricing-and-payment-5">How do I pay for my order?</a>
      </li>
      <li>
        <a href="#pricing-and-payment-6">Is my card info safe?</a>
      </li>
      <li>
        <a href="#pricing-and-payment-7">How can I see my Caviar receipt?</a>
      </li>
    </ul>

    <h2>Timing and Scheduling</h2>
    <ul>
      <li>
        <a href="#timing-and-scheduling-1">When can I expect my order to arrive?</a>
      </li>
      <li>
        <a href="#timing-and-scheduling-2">I selected a delivery window for my order, but now my tracking page says it will be delivered at a later time.</a>
      </li>
      <li>
        <a href="#timing-and-scheduling-3">Can I receive my order earlier?</a>
      </li>
      <li>
        <a href="#timing-and-scheduling-4">Can I schedule a delivery for later today?</a>
      </li>
      <li>
        <a href="#timing-and-scheduling-5">Can I schedule a delivery for a later date?</a>
      </li>
      <li>
        <a href="#timing-and-scheduling-6">How do I setup regular deliveries?</a>
      </li>
      <li>
        <a href="#timing-and-scheduling-7">What if I'm not there to receive the food?</a>
      </li>
    </ul>

    <h2>Ordering, Tracking, and Feedback</h2>
    <ul>
      <li>
        <a href="#ordering-tracking-and-feedback-1">Can I buy more than one item at a time?</a>
      </li>
      <li>
        <a href="#ordering-tracking-and-feedback-2">Can I add, change, or remove item(s) from my order after I place it?</a>
      </li>
      <li>
        <a href="#ordering-tracking-and-feedback-3">How do I check my order's status?</a>
      </li>
      <li>
        <a href="#ordering-tracking-and-feedback-4">My order is coming soon and my address or phone number is different from my account's.</a>
      </li>
      <li>
        <a href="#ordering-tracking-and-feedback-5">What if something went wrong with my order?</a>
      </li>
      <li>
        <a href="#ordering-tracking-and-feedback-6">I would like to cancel my order.</a>
      </li>
    </ul>
  </div>
</div>
<div class="page-section-2">
  <div class="container">
    <div class="page-header">
      <h1>General</h1>
    </div>

    <a id="general-1" class="basic-header-offset"></a>
    <h2>What's Caviar?</h2>
    <p>Caviar is the easiest way to order food online from only the best local restaurants. Once your order is placed, we deliver it straight to you.</p>

    <a id="general-2" class="basic-header-offset"></a>
    <h2>How do I use Caviar?</h2>
    <p>Browse our homepage for a list of our restaurant partners and click them to see what you can order from the respective restaurant. From there, you can add items to your cart and set your desired delivery time using the dropdowns at the top of the page. Upon proceeding to the checkout page, submit your delivery address and payment info, and your order will be delivered within the displayed time-frame. You can track your order status on your account page which lists all your past purchases.</p>

    <a id="general-3" class="basic-header-offset"></a>
    <h2>Why is the full menu not listed for some restaurants?</h2>
    <p>We take into careful consideration and collaborate with the merchant on which menu items to list. Be on the lookout as the menu could change anytime. If there's an unlisted item you'd like to see available, please let us know and we'll do our best to add it.</p>

    <a id="general-4" class="basic-header-offset"></a>
    <h2>What's sharing a cart?</h2>
    <p>It's a feature where one person sets up an account and then sends out a unique link so that anyone who clicks it can add whatever items s/he likes. This makes it way easier to coordinate the preferences of large groups and is perfect for offices and get-togethers. You can even set a budget per person.</p>
  </div>
</div>
<div class="page-section-1">
  <div class="container">
    <div class="page-header">
      <h1>Account</h1>
    </div>

    <a id="account-1" class="basic-header-offset"></a>
    <h2>How do I change the email associated with my account?</h2>
    <p>Please send us an email and we will happily change your account email.</p>

    <a id="account-2" class="basic-header-offset"></a>
    <h2>How do I change the address, phone number, or password associated with my account?</h2>
    <p>Visit <a data-no-turbolink="true" href="/accounts">My Account</a> and click "Edit Account Info" to update your information.</p>

    <a id="account-3" class="basic-header-offset"></a>
    <h2>How do I deactivate my account?</h2>
    <p>We'd hate to see you go, but if you'd like to deactivate your account, visit <a data-no-turbolink="true" href="/accounts">My Account</a> and click "Deactivate Account".</p>
  </div>
</div>
<div class="page-section-2">
  <div class="container">
    <div class="page-header">
      <h1>Pricing and Payment</h1>
    </div>

    <a id="pricing-and-payment-1" class="basic-header-offset"></a>
    <h2>Does it cost anything to join Caviar?</h2>
    <p>Nope, Caviar is free to join. You only pay for what you order from our restaurant partners. We ensure our online menu prices are reflective of in-store prices. (Disclaimer: there may be mandatory fees embedded into the food price such as the 4% SF Health Tax.)</p>

    <a id="pricing-and-payment-2" class="basic-header-offset"></a>
    <h2>Are your menu prices reflective of what s charged at the restaurant?</h2>
    <p>We do our best to make sure that our online prices are the same as you would pay in store. However, there are a few exceptions such as outdated paper menus and mandatory citywide health fees (i.e. SF Healthy Surcharge). For this specific case, we add the incremental amount directly to the menu price rather than as a new line item on the checkout page. In other cases, menu prices are set at the discretion of the merchant.</p>

    <a id="pricing-and-payment-3" class="basic-header-offset"></a>
    <h2>Why does it cost $9.99 for delivery?</h2>
    <p>Since we partner with only the best local restaurants, they tend to be quite busy at times, which can mean long lines, wait times, and tough accessibility for you.</p>
    <p>We believe your time and travel costs (gas!) are worth more than $9.99, and for your convenience we also built a real-time tracking system so you can pinpoint your courier on a map. In addition, the delivery fee is constant, which is awesome when ordering with friends or for the office.</p>
    <p>All in all, considering our features and the current industry standard, we think $9.99 is a steal!</p>

    <a id="pricing-and-payment-4" class="basic-header-offset"></a>
    <h2>Why is there an automatic gratituity charge?</h2>
    <p>As a Caviar customer, there is never a need to handle cash. All transactions are effortlessly made through our platform, and gratuity (18% of the subtotal) is always included. As a premium service, we aim for the highest bar of customer satisfaction, while making sure our food couriers are properly compensated. If for any reason you're unsatisfied with your order, please contact us at <a href="mailto:sfpeninsulasupport@trycaviar.com">sfpeninsulasupport@trycaviar.com</a> and we will make things right.</p>

    <a id="pricing-and-payment-5" class="basic-header-offset"></a>
    <h2>How do I pay for my order?</h2>
    <p>After adding items to your cart, checkout with a credit or debit card. We accept Visa, MasterCard, American Express, and Discover. After you complete your first transaction, we enable 1-click purchases for future orders.</p>

    <a id="pricing-and-payment-6" class="basic-header-offset"></a>
    <h2>Is my card info safe?</h2>
    <p>Absolutely. Security is one of our top priorities. Your payment information is never stored on our servers, and data is encrypted via SSL while transferred to a secure electronic vault. Your privacy is guaranteed.</p>

    <a id="pricing-and-payment-7" class="basic-header-offset"></a>
    <h2>How can I see my Caviar receipt?</h2>
    <p>Login to your account and click <a href="/orders">My Orders</a> at the top-right corner of the page. There you can find downloadable text receipts for all of your orders.</p>
  </div>
</div>
<div class="page-section-1">
  <div class="container">
    <div class="page-header">
      <h1>Timing and Scheduling</h1>
    </div>

    <a id="timing-and-scheduling-1" class="basic-header-offset"></a>
    <h2>When can I expect my order to arrive?</h2>
    <p>We aim to deliver your order as close to the beginning of your delivery window as possible (and sometimes even a bit before it!). Of course, the actual time is affected by restaurant load and the order size. If you have a very specific time you'd like your order to arrive at, please contact us at support@trycaviar.com and we will do our best to accommodate.</p>

    <a id="timing-and-scheduling-2" class="basic-header-offset"></a>
    <h2>I selected a delivery window for my order, but now my tracking page says it will be delivered at a later time.</h2>
    <p>Occasionally, orders are pushed back due to high volume or at the restaurant's request. We try our best to avoid any rescheduling and only do so to ensure the overall quality of our users' orders. If your order has been rescheduled, we will reach out to you and do our best to accommodate and expedite your order.</p>

    <a id="timing-and-scheduling-3" class="basic-header-offset"></a>
    <h2>Can I receive my order earlier?</h2>
    <p>Call or email us at support@trycaviar.com and we'll contact our merchant partner to see if earlier accommodations can be made. It will vary depending on the order size, restaurant, and how busy they are. Please note that if we come to an agreement, we cannot 100% guarantee that the order will arrive on time due to circumstances that may be out of our control. However, we'll always do our best..</p>

    <a id="timing-and-scheduling-4" class="basic-header-offset"></a>
    <h2>Can I schedule a delivery for later today?</h2>
    <p>Yes, we have enabled same day scheduling on our website. You can select the delivery window on the menu or checkout page using the drop-down menu. You can also make a pre-order before the restaurant is open (including same day scheduled orders).</p>

    <a id="timing-and-scheduling-5" class="basic-header-offset"></a>
    <h2>Can I schedule a delivery for a later date?</h2>
    <p>Yes, we support multi-day advanced scheduling of orders. You can select your desired delivery time using the dropdowns at the top of the page when browsing menus. We recommend pre-ordering for large orders, as this will ensure that the restaurant can complete the order in a timely fashion. In addition, it gives our couriers advanced notice to deliver your order on time, within your delivery window.</p>

    <a id="timing-and-scheduling-6" class="basic-header-offset"></a>
    <h2>How do I set up regular deliveries?</h2>
    <p>Email us at support@trycaviar.com and we'll have one of our account managers setup a personalized schedule so you'll get delicious food shipped to your home or office right on time whenever you like.</p>

    <a id="timing-and-scheduling-7" class="basic-header-offset"></a>
    <h2>What if I'm not there to receive the food?</h2>
    <p>When our courier arrives, s/he will try to contact you in-person or by phone, text, and email. If we can't get in touch with you after 15 minutes of no contact, your order will unfortunately be forfeited.</p>
  </div>
</div>
<div class="page-section-2">
  <div class="container">
    <div class="page-header">
      <h1>Ordering, Tracking, and Feedback</h1>
    </div>

    <a id="ordering-tracking-and-feedback-1" class="basic-header-offset"></a>
    <h2>Can I buy more than one item at a time?</h2>
    <p>Currently, you may purchase multiple items from a single restaurant but cannot purchase multiple items from multiple merchants in the same order. If you wish to place orders from multiple merchants, please make separate orders.</p>

    <a id="ordering-tracking-and-feedback-2" class="basic-header-offset"></a>
    <h2>Can I add, change, or remove item(s) from my order after I place it?</h2>
    <p>If you'd like to add an item to your order, simply place another order for the same delivery window and we'll combine them automatically and adjust the second delivery fee. If it's on short notice, there may be a delay in your order. If you wish to change item(s), please do so at least 30 minutes before your delivery window by calling or emailing us so we can coordinate with our restaurant partners. Please note that significant changes may cause delays in delivery, although we will do our best to accommodate. Lastly, if you'd like to remove item(s) from your order, we require you to do so at least 30 minutes before your delivery window by calling or emailing us. Otherwise, we unfortunately cannot provide a refund if the merchant has already prepared the item(s).</p>

    <a id="ordering-tracking-and-feedback-3" class="basic-header-offset"></a>
    <h2>How do I check my order's status?</h2>
    <p>After you complete your purchase, you'll be shown a page on which you can check your order's status.</p>
    <p>Once your order is en route, you'll receive an email that links to the same status page. The page also displays a map which pinpoints your courier's location. Lastly, we guarantee that your order will be delivered within the 1-hour window specified.</p>

    <a id="ordering-tracking-and-feedback-4" class="basic-header-offset"></a>
    <h2>My order is coming soon and my address or phone number is different from my account's.</h2>
    <p>If you realize that your address or contact info is wrong and your order is out for delivery, please call us immediately at our support line: 1 (888) 978-5619.</p>

    <a id="ordering-tracking-and-feedback-5" class="basic-header-offset"></a>
    <h2>What if something went wrong with my order?</h2>
    <p>Please let us know by replying to your confirmation email with detailed information regarding the issue so we can quickly offer a resolution. We'll adjust the order for billing purposes if needed and will follow up with the restaurant and courier. However, please let us know within one week of receiving your order, after which the order becomes final.</p>

    <a id="ordering-tracking-and-feedback-6" class="basic-header-offset"></a>
    <h2>I would like to cancel my order.</h2>
    <p>If the subtotal (before tax, delivery, gratuity) of your order is less than $30, then we only require a 30-minute notice to receive a full refund. For subtotals between $30 - $100, a 2-hour notice is required for a full refund. Lastly, for subtotals greater than $100, we require a 48-hour notice. If you need to cancel an order with shorter notice, a refund will be provided only at the discretion of the restaurant. If a refund is authorized and the restaurant has not yet prepared the order, you'll eligible for a full refund; if a refund is authorized and the restaurant has already prepared the order, you'll only be eligible for a 50% refund.</p>
  </div>
</div>