<div class="page-section-1">
	<div class="container">
		<div class="page-header">
			<h1> My Orders </h1>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p class="lead">All orders go through PayPal. Please <a href="https://www.paypal.com">go to your PayPal account</a> to see your orders from Rewrd.</p>
				<p>Any refunds to your card will be reflected on your statement in 5-10 business days.</p>
			</div>
		</div>
		<div class="text-center"></div>
		<div class="text-center"></div>
	</div>
</div>
