<div class="page-section-1">
  <div class="container">
  	<div class="page-header">
  		<h1>Privacy Policy</h1>
  	</div>
  	<div class="block-text">
  		<p>
  			The Caviar privacy policy (the "Privacy Policy") is intended to inform you on how we collect, use, and disclose any personally identifiable information you submit to us through our Website (www.rewrd.com) Caviar, a subsidiary of Delaware corporation Munch On Me, Inc., the provider of the Website (referred to as "us" or "we"), is committed to protecting your privacy online. Please read the following to learn what information we collect from you (the "User" or "End User") and how we use that information. By accessing and using Caviar, you acknowledge that you have read and understand our privacy policy. If you have any questions about our privacy policy, please contact us.
  		</p>
  		<h3>Information Collected</h3>
  		<p>
  			Personally Identifiable Information (PII). Personally Identifiable Information is information that identifies a specific End User. This includes our registration page which collects your name, valid email address, and password of your choice. Caviar also has Facebook Connect, which may access information that includes your name, profile picture, gender, networks, user ID, list of friends, and any other information you share with everyone. Through Facebook, we may also contact you directly through that email.Upon entering your account page, you may have the option to specify your age, gender, and demographic information. When you purchase a Deal, you will need to submit your credit card or other payment information so that our service providers can process your payment for the Deal. We collect any voluntarily provided information, while you are on the site. This includes reviews, submissions, subscriptions, referrals or any actions performed on the website.
  		</p>
  		<h3>Release of Personally Identifiable Information</h3>
  		<p>
  			We do not release, sell, or expose any Personally Identifiable Information that you provide us to third parties for marketing purposes, unless otherwise stated in this Privacy Policy. However, we may disclose or share Non-Personally Identifiable Information with our Partners, Affiliates, and Advertisers to better improve the Caviar product and user experience.
  		</p>
  		<p>
  			We may provide your Personal Information to third-parties service providers to improve communication between our users and merchants. This may include sending email, tracking data, processing payments (including credit card payments, reward points), and providing customer service. We require that our third parties commit to not using such information except as necessary to provide their product or services.
  		</p>
  		<p>
  			All data and statistical information collected by Caviar will be used and analyzed internally to improve our product.
  		</p>
  		<h3>Data Tracking</h3>
  		<p>
  			To collect data and track our users, we store cookies onto your computer. The cookie contains information about the user as well as tracks the pages you have clicked or visited. All of this information is considered Non Personally Identifiable Information. The purpose of this is to improve our customization and help us create a more user-friendly experience for all visitors. Some browsers may have the option under settings to prevent cookie tracking.
  		</p>
  		<p>
  			The cookies we collect are for our website and webpages only. Once you leave Caviar and visit a third party platform or website, we no longer have control or access to those cookies.
  		</p>
  		<h3>User Choice on Collecting Information</h3>
  		<p>
  			We may send weekly promotional and administrative emails, account information, and request inquiries. If you no longer want to be notified, you may at any time "opt-out" of our promotional communications by unsubscribing to our email. Please email support@rewrd.com if you need additional help.
  		</p>
  		<h3>Changes to the Privacy Policy</h3>
  		<p>
  			If the privacy policy changes, it will affect this privacy statement, the home page, and other places we believe that you are aware of what information we collect, use, and disclose. We may notify you through email as well.
  		</p>
  		<h3>Security</h3>
  		<p>
  			Your personal information is extremely important to us. Your information resides on a secure server that only selected personnel have access to. Credit card information is encrypted. Promotional and referral codes are random alphanumeric sequences that are encrypted. In addition to our precautions, it is important that you do not share your password with anyone. Although we try our best to protect your information, we cannot completely eliminate security risks associated with Personal Information.
  		</p>
  		<p>
  			Last updated on 04 October 2013.
  		</p>
    </div>
  </div>
</div>
<div class="page-section-2">
  <div class="container">
    <div class="page-header">
      <h1>Terms of Service</h1>
    </div>
    <div class="block-text">
            <h3>YOUR ACCEPTANCE OF TERMS OF SERVICE</h3>
      <p>
        Welcome to Caviar. The following terms of service (these "TOS") form a binding agreement between you and Caviar, a subsidiary of Munch On Me, Inc., a Delaware corporation (together with our affiliates, collectively referred to herein as "Munch On Me", "us", or "we") that governs your use of our services ("Services") facilitated through our website located at http://www.rewrd.com/ (our "Website"), other online areas owned or operated by us such as our Facebook, mobile phone and other applications, and other websites and applications now or hereafter contained within or made available through external hyperlinks in connection with our Website (collectively, the "Site"). The term "you" refers to the person accessing or using the Site or our Services, or the entity or organization on whose behalf such person accesses the Site and/or our Services. You should print or otherwise save a copy of these TOS for your records.
      </p>
      <p>
        PLEASE READ THESE TOS CAREFULLY BEFORE USING THE SITE OR ANY OF OUR SERVICES. By using the Site or our Services, you are agreeing to these TOS, as well as our Privacy Policy and additional guidelines, policies or rules applicable to specific services and/or features that are apart of, or may be from time to time made apart of, our Services, such as subscription-based services, contests or sweepstakes (collectively, the "Guidelines"). Subject to applicable law, the Guidelines are apart of these TOS and are expressly incorporated herein by this reference; provided that in the event of a conflict between any specific Guideline and these TOS, the terms of any such Guideline shall prevail over these TOS. If you do not agree to any of these TOS, you must cease use of the Site and our Services.
      </p>
      <p>
        You acknowledge that these TOS are supported by reasonable and valuable consideration, the receipt and adequacy of which are hereby acknowledged. Without limiting the generality of the foregoing, you acknowledge that such consideration includes your use of the Site, any of our Services and receipt of data, materials and information available at or through the Site, the possibility of our use or display of your Solicited Submissions (as defined below) and the possibility of the publicity and promotion from our use or display of your Solicited Submissions.
      </p>
      <p>
        We may update or change these TOS from time to time and recommend that you review these TOS on a regular basis. The most current version of these TOS may be viewed at http://www.rewrd.com/terms-of-service. If we make a change to these TOS, the revised version of these TOS will be posted on our Website. You understand and agree that your continued use of our Services after these TOS have changed constitutes your acceptance of these TOS as revised. Without limiting the foregoing, if we make a change to these TOS that materially impacts your use of our Services, we may post notice of any such change on our Website and/or email you notice of any such change to the email address submitted in connection with your account.
      </p><h3>OUR SERVICES</h3>
      <p>
        Through its website, Caviar provides advertising and marketing services to local restaurants (“Restaurants”) and procures delivery services on behalf of the Restaurants.
      </p>
      <p>
        Caviar is engaged by each Restaurant solely for the delivery of the Restaurant’s food and beverage products, and for advertising and marketing the Restaurant’s products through the website. Caviar is not the retailer of any products offered by Restaurants through the website. Caviar’s responsibility to you is limited solely to delivery of the food and beverage products for you, and to advertising and marketing the Restaurant’s products through the website.
      </p>
      <p>
        The Restaurants are solely responsible for preparing and packaging all products ordered through Caviar, and updating their menu and menu prices. Each Restaurant is solely liable for the quality and freshness of its products, and Caviar does not verify the credentials, representations, products or prices offered by the Restaurants, and does not guarantee the quality of the product, or that any Restaurant or Restaurant product complies with applicable laws. Caviar shall not be liable or responsible for any products or services provided by Restaurants that are a cause of injury or that are unacceptable to or do not meet your expectations in any manner.
      </p>
      <p>
        You are solely responsible for verifying the accuracy of delivery addresses, and Caviar shall have no liability or responsibility for any such erroneous addresses.
      </p>
      <h3>LEGAL AUTHORITY</h3>
      <p>
        To use and/or register for our Services you must be: (a) of legal age to form a binding contract with us, and (b) cannot be a person barred from receiving our Services under the laws of the United States or other applicable jurisdiction, including the country in which you reside or from where you use our Services. By accepting these TOS you represent that you understand and agree to the foregoing. If you are under the required legal age, but at least 13 years old, you may still use our Services (subject to applicable local law), but only if the account you are using was created and registered by your parent or legal guardian (see Section entitled "Children" below for further details).
      </p>
      <h3>TRANSACTIONS INVOLVING ALCOHOLIC BEVERAGES</h3>
      <div class="text-small">
  <p>
    Alcoholic beverages may only be purchased by individuals, including without limitation Customers, who are at least twenty-one (21) years old ("Legal Age"). If you are a Customer, you expressly represent and warrant that:
    </p><ul>
      <li>(i) You are of Legal Age</li>
      <li>(ii) You will provide bona fide identification showing your Legal Age to your Courier upon delivery to you pursuant to the Caviar Delivery Services that include Alcoholic Beverages.</li>
    </ul>
  <p></p>
  <p>
    Caviar does not charge any fee with respect to Alcoholic Beverages or Customer's purchase of Alcoholic Beverages from vendors. When Customer places an order for Alcoholic Beverages using the Website ("Alcoholic Beverage Order"), such Alcoholic Beverage Order will be either accepted or rejected by the vendor to whom the Alcoholic Beverage Order was placed ("Seller"). Neither Caviar nor any Courier has any authority to accept Customer's Alcoholic Beverage Order, and no sale pursuant to Customer's Alcoholic Beverage Order will become final unless and until Vendor accepts Customer's Alcoholic Beverage Order.
    <br>
    <br>
    For any Alcoholic Beverage Order accepted by Vendor (such accepted sale an "Alcoholic Beverage Purchase"), Customer's credit card shall be charged, and that portion of the funds from Customer's credit card payment that relates to the Alcoholic Beverage Purchase shall be deposited into an account for the benefit of Vendor in compliance with applicable alcoholic beverage laws.
  </p>
</div>


      <h3>LIMITATIONS ON USE AND RULES OF CONDUCT</h3>
      <p>
        You agree to use the Site and our Services only for personal use and the purposes as permitted by these TOS and any applicable law, or generally accepted practice in the applicable jurisdiction. You may not use the Site or any of our Services for commercial purposes or in any way that is unlawful, or harms us or any other person or entity.
      </p>
      <p>
        All information, materials, functions and other content (including Submissions, as defined in Section entitled "Submissions" below) ("Content") contained on the Site are our copyrighted property or the copyrighted property of our licensors or licensees. All trademarks, slogans, service marks, trade names, and trade dress are proprietary to us and/or our licensors or licensees. We may change the Site or delete Content or features at any time, in any way, for any reason.
      </p>
      <p>
        Except as we specifically agree in writing, no Content from the Site may be used, reproduced, transmitted, distributed or otherwise exploited in any way other than as part of the Site, not even as part of a derivative work, except that where the Site is configured to enable the download of particular Content, you may download one copy of such Content to a single computer for your personal, noncommercial home use only, provided that you (a) keep intact all copyright and other proprietary notices, (b) make no modifications to, and do not rent, lease, loan, sell, distribute, copy (except to create a single copy for your own back-up purposes), or create any derivative works based on the Site or the Content, in whole or in part, and (c) do not use the Content in an unlawful manner or in a manner that suggests an association with any of our products, services or brands. Using our Content for any other purpose, including but not limited to "re-mailing" or high-volume or automated use of the Site or using any of our Content on any other website or networked computer environment, is a violation of our copyright and other proprietary rights and is strictly prohibited.
      </p>
      <p>
        Use of the Site or any software, code, device or other mechanism that allows automated gameplay, expedited gameplay, or other manipulation of gameplay or game client will result in immediate termination of your account with us and we reserves the right, in our sole and absolute discretion, to determine what constitutes manipulation of gameplay or game client.
      </p>
      <p>
        YOU ACKNOWLEDGE AND AGREE THAT NOTHING IN THESE TOS SHALL HAVE THE EFFECT OF TRANSFERRING THE OWNERSHIP OF ANY COPYRIGHTS, TRADEMARKS, SLOGANS, SERVICE MARKS, TRADE NAMES, TRADE DRESS OR OTHER PROPRIETARY RIGHTS IN THE SITE OR CONTENT OR ANY PART THEREOF TO YOU OR ANY THIRD PARTY NOR TO AUTHORIZE YOU TO CREATE DERIVATIVE WORKS BASED ON THE CONTENT. You undertake not to do any act or thing which is inconsistent with or which is likely in any way to prejudice such title.
      </p>
      <p>
        You agree that you will NOT use the Site or the Service to:
      </p>
      <p>
        1. attempt redemption inconsistent with these TOS;
      </p>
      <p>
        2. reproduce, sell or trade any Voucher, unless in compliance with applicable law;
      </p>
      <p>
        3. upload, download, post, email, transmit, store or otherwise make available any Content that is unlawful, harassing, threatening, harmful, tortious, defamatory, libelous, abusive, violent, obscene, vulgar, invasive of another’s privacy, hateful, racially or ethnically offensive, or otherwise objectionable;
      </p>
      <p>
        4. stalk, harass, threaten or harm another;
      </p>
      <p>
        5. if you are an adult, request personal or other information from a minor (any person under the age of 18 or such other age as local law defines as a minor) who is not personally known to you, including but not limited to any of the following: full name or last name, home address, zip/postal code, telephone number, picture, or the names of the minor’s school, church, athletic team or friends;
      </p>
      <p>
        6. pretend to be anyone, or any entity, you are not — you may not impersonate or misrepresent yourself as another person (including celebrities), entity, another subscriber, a Caviar employee, or a civic or government leader, or otherwise misrepresent your affiliation with a person or entity, (we reserve the right to reject or block any Subscriber ID (defined below) which could be deemed to be an impersonation or misrepresentation of your identity, or a misappropriation of another person’s name or identity);
      </p>
      <p>
        7. engage in any copyright infringement or other intellectual property infringement, or disclose any trade secret or confidential information in violation of a confidentiality, employment, or nondisclosure agreement;
      </p>
      <p>
        8. post, send, transmit or otherwise make available any unsolicited or unauthorized email messages, advertising, promotional materials, junk mail, spam, or chain letters, including, without limitation, bulk commercial advertising and informational announcements;
      </p>
      <p>
        9. forge any TCP-IP packet header or any part of the header information in an email or a news group posting, or otherwise putting information in a header designed to mislead recipients as to the origin of any Content transmitted through the Service ("spoofing");
      </p>
      <p>
        10. upload, post, email, transmit, store or otherwise make available any material that contains viruses or any other computer code, files or programs designed to harm, interfere or limit the normal operation of the Service (or any part thereof), or any other computer software or hardware;
      </p>
      <p>
        11. interfere with or disrupt the Service (including accessing the Service through any automated means, like scripts or web crawlers), or any servers or networks connected to the Service, or any policies, requirements or regulations of networks connected to the Service (including any unauthorized access to, use or monitoring of data or traffic thereon);
      </p>
      <p>
        12. plan or engage in any illegal activity; and/or
      </p>
      <p>
        13. gather and store personal information on any other users of the Site and/or the Service to be used in connection with any of the foregoing prohibited activities.
      </p>
      <p>
        We cannot and do not assure that other users are or will be complying with the foregoing limitations on use and rules of conduct or any other provisions of these TOS, and, as between you and us, you hereby assume all risk of harm or injury resulting from any such lack of compliance.
      </p>
      <p>
        Violations of any of these TOS may result in termination of your account. We reserve the right to modify these limitations on use and rules of conduct at any time.
      </p><h3>SUBMISSIONS AND CONTENT</h3>
      <p>
        In these TOS, we use the word "Submissions" to mean text, messages, ideas, concepts, pitches, suggestions, treatments, formats, artwork, photographs, drawings, videos, audiovisual works,, characterizations, your and/or other persons’ names, likenesses, voices, usernames, profiles, actions, appearances, performances and/or other biographical information or material, and/or other similar materials that you submit, post, upload, embed, display, communicate or otherwise distribute (collectively, "Distribute") on or through the Site.
      </p>
      <p>
        There are two types of Submissions: Solicited Submissions and Unsolicited Submissions. "Solicited Submissions" means those Submissions (a) that we expressly request or enable you to provide to us via any feature or activity on the Site for our review or display and possible specifically-defined consideration or compensation (collectively, "Consideration") (such as prizes or other value in games, sweepstakes, contests and promotions); and (b) that you Distribute on or through the Site for which you do not seek Consideration (such as in our Public Forums (as defined below). "Unsolicited Submissions" are any and all Submissions that do not fall within subparagraphs (a) or (b) of this paragraph.
      </p>
      <p>
        Our company policy does not allow us to accept or consider Unsolicited Submissions so please do not Distribute Unsolicited Submissions on or through the Site. We want to avoid the possibility of future misunderstandings when projects developed by us or under our direction might seem to others to be similar to their own creative work. We therefore ask that you not Distribute any Unsolicited Submission. In any event, you agree that any Submissions you make is not being made in confidence or trust and that no confidential or fiduciary relationship is intended or created between you and us in any way, and that you have no expectation of any review, compensation or consideration of any type (other than any stated Consideration).
      </p>
      <p>
        Except as expressly stated in these terms of use, the provisions of these TOS apply equally to Unsolicited Submissions and Solicited Submissions. Accordingly, we, our licensees, distributors, agents, representatives and other authorized users shall be entitled to exploit and disclose all Submissions, and we shall not be liable to you or to any person claiming through you for any exploitation or disclosure of any Submission.
      </p>
      <p>
        You understand that by using the Service you may encounter Content that you may find offensive, indecent, or objectionable, and that you may expose others to Content that they may find objectionable. You acknowledge that Caviar is not responsible or liable in any way for any Content provided by others and has no duty to pre-screen such Content. However, Caviar reserves the right at all times (a) to determine whether Content is appropriate and in compliance with these TOS, and may pre-screen, move, refuse, modify and/or remove Content at any time, without prior notice and in its sole discretion, if such Content is found to be in violation of these TOS or is otherwise objectionable, and (b) identify any user to third parties, and/or disclose to third parties any Content or personally identifiable information, when we believe in good faith that such identification or disclosure will either (i) facilitate compliance with laws, including, for example, compliance with a court order or subpoena, or (ii) help to enforce these TOS and/or our contest, sweepstakes, promotions, and game rules, and/or protect the safety or security of any person or property, including any Site.
      </p>
      <p>
        You are responsible for backing up, to your own computer or other device, any important documents, images or other Content that you store or access via the Service. Caviar does not guarantee or warrant that any Content you may store or access through the Service will not be subject to inadvertent damage, corruption or loss.
      </p><h3>LICENSES AND REPRESENTATIONS</h3>
      <p>
        You hereby grant us and our licensees, distributors, agents, representatives and other authorized users, a non-exclusive, irrevocable, fully-paid, royalty-free, sub-licensable and transferable (in whole or part) worldwide license for an indeterminate period (or for such maximum period permitted by applicable law) under all copyrights, trademarks, patents, trade secrets, privacy and publicity rights and other intellectual and industrial property rights you own or control to use, reproduce, transmit, display, exhibit, distribute, index, comment on, modify, create derivative works based upon, perform and otherwise exploit such Submissions, in whole or in part, in all media formats and channels now known or hereafter devised (including on the Site, on third party websites, on our broadband and wireless platforms, products and services, on physical media) for any and all purposes including, without limitation, entertainment, news, advertising, promotional, marketing, publicity, trade or commercial purposes, all without further notice to you, with or without attribution, and without the requirement of any permission from or payment to you or to any other person or entity (the "Submissions License").
      </p>
      <p>
        By communicating a Submission, you represent and warrant that the Submission and your communication thereof conform to these TOS and that you own or have the necessary rights, licenses, consents and permissions, without the need for any permission from or payment to any other person or entity, to exploit, and to authorize us to exploit, such Submission in all manners contemplated by these terms of use (including the Submissions License).
      </p>
      <p>
        To the extent that we solicit Submissions through features or activities on or through the Site (including games, sweepstakes, contests, promotions, and Public Forums that require the use of our copyrighted works (in whole or in part), we hereby grant you a non-exclusive license to create a derivative work using our copyrighted works (in whole or in part) as required (but only as required, and only for the purpose of creating your Submissions); provided that such license shall be conditioned upon your assignment of all rights in the work you create to us. If such rights are not assigned to us, your license to create derivative works using our copyrighted works (in whole or in part) shall be null and void. You agree to the foregoing grant of rights, consents, agreements and assignments whether or not your Submissions are used by us.
      </p>
      <p>
        You hereby appoint us as your agent with full power to enter into and execute any document and/or do any act which might be necessary to confirm the grant of rights, consents, agreements, assignments and waivers set forth in these terms of use.
      </p>
      <p>
        You agree that any Submissions you make are not being made in confidence or trust and that no confidential or fiduciary relationship is intended or created between you and us in any way, and that you have no expectation of any review, compensation or consideration of any type.
      </p>
      <p>
        To the extent any "moral rights," "ancillary rights," or similar rights ("Moral Rights") in or to the Submissions exist and are not exclusively owned by us and to the extent you are able to do so under applicable law, you agree not to enforce any such rights as to us or our licensees, distributors, agents, representatives and other authorized users, and you shall procure the same agreement not to enforce from any others who may possess such rights. To the extent such an agreement is unenforceable, you hereby give a Moral Rights Consent. To the extent any other person has Moral Rights in or to the Submission, you must obtain a Moral Rights Consent from that person and provide it on request to us. "Moral Rights Consent" means a waiver of moral rights to the maximum extent permitted by applicable law and an unconditional consent to any act or omission in relation to the Submissions by or on our behalf or any licensee or subsequent owner of copyright in the Submissions, including an act or omission which would, but for these terms of use, infringe your moral rights.
      </p>
      <p>
        Without limiting the scope of the Submissions License or any future grant of rights, consents, agreements, assignments, and waivers you may make with respect to Submissions, and to the extent allowed by applicable law, you hereby ratify any prior grant of rights, consents, agreements, assignments and waivers made by you with respect to Submissions submitted by you to us.
      </p><h3>PUBLIC FORUMS AND COMMUNICATIONS</h3>
      <p>
        "Public Forum" means an area, site or feature offered as part of any Site that offers the opportunity for users to Distribute Submissions for viewing by one or more Site users, including a chat area, message board or social community environment.
      </p>
      <p>
        YOU ACKNOWLEDGE THAT PUBLIC FORUMS AND FEATURES OFFERED THEREIN ARE FOR PUBLIC AND NOT PRIVATE COMMUNICATIONS, AND YOU HAVE NO EXPECTATION OF PRIVACY WITH REGARD TO ANY SUBMISSION TO A PUBLIC FORUM. We cannot guarantee the security of any information you disclose through any of these media; you make such disclosures at your own risk.
      </p>
      <p>
        Subject to applicable law, you are and shall remain solely responsible for the Submissions you Distribute on or through any Site under your username or otherwise by you in any Public Forum and for the consequences of submitting and posting same.
      </p>
      <p>
        Also, you should be skeptical about information provided by others, and you acknowledge that the use of any Submission posted in any Public Forum is at your own risk. For example, we are not responsible for, and we do not endorse, the opinions, advice or recommendations posted or sent by users in any Public Forum and we specifically disclaim any and all liability in connection therewith.
      </p>
      <p>
        We owe you no obligation, and therefore may refuse, to post, deliver, remove, modify or otherwise use or take any action with respect to Submissions you Distribute.
      </p>
      <p>
        We reserve the right to screen, refuse to post, remove, edit, store and/or review Submissions at any time and from time to time and for any or no reason including, without limitation, to ensure that the Submissions conforms to the Rules of Conduct, in our absolute and sole discretion without prior notice. If we elect to screen Submissions, there may be a delay in the posting of such content in a Public Forum to allow for a review process. If we have questions about your Submissions including, without limitation, the copyright, we may contact you for further information including, for example, to verify that you own the copyright or otherwise obtained permission to post the material.
      </p><h3>MEMBER ACCOUNT</h3>
      <p>
        When you accept these TOS and complete our sign up process, you become the Caviar "Member Account" holder. You are required to select a unique name upon sign up that will be used for your account (your "Subscriber ID"). You may be permitted to purchase and add additional "Sub-accounts" to your Member Account. You must select a separate Subscriber ID for each Sub-account you create. You are responsible for all activity that takes place on your Member Account and any associated Sub-accounts.
      </p>
      <p>
        If you use a Sub-account, the Member Account holder has full control over your Sub-account and may alter, close or end the Sub-account at any time, as well as request information related to your use of the Sub-account, including machine and service use information, without notice to you.
      </p>
      <p>
        Upon creating your Subscriber ID you will be required to select a password. Please choose a strong password and do not reveal your password to others. You agree that you are responsible for keeping your password confidential and secure, and further understand that you are solely responsible and liable for any activities that occur under your Subscriber ID. If you suspect or become aware of any unauthorized use of your account please contact us. You further acknowledge and agree that our Services are designed and intended for personal use on an individual basis and you should not share your account and/or password details with another person.
      </p><h3>CHILDREN</h3>
      <p>
        You must be at least 13 years of age to use our Services. Children between the ages of 13-18 (or older as required by local law) may be granted access to our Services but only if they are added as a Sub-account to a Member Account. By adding a child as a Sub-Account member under your Member Account, you certify that you are of legal age and are the parent and/or legal guardian of that child. By adding a minor to your Member Account, you give them permission to access and use our Services, and it is your responsibility to determine whether the Service and/or Content provided via our Service is appropriate for a minor. Please also remind any minors that conversing with strangers on the internet can be dangerous and take appropriate precautions to protect your child including monitoring their use of our Services.
      </p><h3>SIGN UP OBLIGATIONS</h3>
      <p>
        You agree that all information you provide to Caviar during the sign up process ("Sign Up Data") will be true, accurate, complete and current information, and that you shall maintain and update the Sign Up Data as needed throughout your term to keep it accurate and current. Failure to provide accurate, current and complete Sign Up Data may result in the suspension and/or termination of your account.
      </p><h3>ADDITIONAL OBLIGATIONS OR TERMS OF USE</h3>
      <p>
        Particular components or features of our Service, provided by us and/or our licensors, may be subject to separate software or other license agreements or terms of use. You must read, accept, and agree to be bound by any such separate agreement as a condition of using these particular components or features of the Service.
      </p><h3>NO CONVEYANCE</h3>
      <p>
        Nothing in these TOS shall be construed to convey to you any interest, title, or license in a Subscriber ID, email address, domain name, or similar resource used by you in connection with our Services.
      </p><h3>NO RIGHT OF SURVIVORSHIP</h3>
      <p>
        You agree that your Caviar account is non-transferable and that any rights to your Subscriber ID or Content within your account terminate upon your death. Upon receipt of a copy of a death certificate your account may be terminated and all Content within your account deleted.
      </p><h3>NO RESALE OF SERVICE</h3>
      <p>
        You agree that you will not reproduce, copy, duplicate, sell, resell, rent or trade the Service (or any part thereof) for any purpose.
      </p><h3>USE OF LOCATION-BASED SERVICES</h3>
      <p>
        Caviar and its partners and licensors may provide certain features or services through the Service that rely upon device-based location information. To provide such features or services, where available, Caviar and its partners and licensors may collect, use, transmit, process and maintain your location data, including the real-time geographic location of your device, and you hereby agree and consent to Caviar’s and its partners’ and licensors’ collection, use, transmission, processing and maintenance of such location data to provide such services. In addition, by enabling and/or using any location-based services or features within the Service, you agree and consent to Caviar collecting, using, processing and maintaining information related to your account, and any devices registered thereunder, for purposes of providing such location-based service or feature to you. Such information may include, but is not limited to, your Subscriber ID, device ID and name, device type and real-time geographic location of your device at time of your request. You may withdraw this consent at any time by not using the location-based features on your device. When using third party services that use or provide location data as part of the Service, you are subject to and should review such third party’s terms and privacy policy on use of location data by such third party services. Any location data provided by the Service is not intended to be relied upon in situations where precise location information is needed or where erroneous, inaccurate, time-delayed or incomplete location data may lead to death, personal injury, property or environmental damage. Neither Caviar nor any of its content providers guarantees the availability, accuracy, completeness, reliability, or timeliness of location data or any other data displayed by the Service.
      </p><h3>PRIVACY POLICY</h3>
      <p>
        You understand that by using the Service, you consent and agree to the collection and use of certain information about you and your use of the Service in accordance with our Privacy Policy. You further consent and agree that we may collect, use, transmit, process and maintain information related to your account, and any devices registered thereunder, for purposes of providing the Service, and any features therein, to you. Information collected by Caviar when you use the Service may also include technical or diagnostic information related to your use that may be used by Caviar to maintain, improve and enhance the Service. For more information please read our full privacy policy.
      </p><h3>ACCESS TO YOUR ACCOUNT AND CONTENT</h3>
      <p>
        You acknowledge and agree that we may access, use, preserve and/or disclose your account information and Content if legally required to do so or if we have a good faith belief that such access, use, disclosure, or preservation is reasonably necessary to: (a) comply with legal process or request; (b) enforce these TOS, including investigation of any potential violation thereof; (c) detect, prevent or otherwise address security, fraud or technical issues; or (d) protect the rights, property or safety of Caviar, its users or the public as required or permitted by law.
      </p><h3>FEES</h3>
      <p>
        You agree to pay all charges, including gratuities, fees and taxes, and any part thereof, when you purchase, use, or participate in a service from Caviar. All fees are exclusive of applicable taxes, unless otherwise stated, and you are solely responsible for the payment of any such taxes that may be imposed on your use of the services provided to you.
      </p><h3>CREDIT CARD OR OTHER PAYMENT SERVICE AUTHORIZATION</h3>
      <p>
        You may be asked to provide us with a credit card number from a card issuer or your PayPal or Amazon Payments account number that we accept in order to activate and/or pay for any fees related to the Service. We may seek pre-authorization of your credit card, PayPal or Amazon Payments account prior to a purchase to verify that the credit card or PayPal or Amazon Payments account is valid and/or has the necessary funds or credit available to cover your purchase. These pre-authorizations will reduce your available balance by the authorization amount until it is released or reconciled with the actual charge. Please contact your card issuer or PayPal or Amazon, as applicable, if you have additional questions regarding when an authorization amount will be removed from your statement.
      </p><h3>TERMINATION BY YOU</h3>
      <p>
        You may terminate your account and/or stop using the Service at any time. To terminate your account contact us. Any fees paid by you prior to your termination are nonrefundable (except as expressly permitted otherwise by these TOS). Termination of your account shall not relieve you of any obligation to pay any accrued fees or charges.
      </p><h3>TERMINATION BY US</h3>
      <p>
        We may at any time, under certain circumstances and without prior notice, immediately terminate or suspend all or a portion of your account and/or access to the Service. Cause for such termination shall include, but not be limited to: (a) violations of these TOS or any other policies or guidelines that are referenced herein and/or posted on the Site; (b) a request by you to cancel or terminate your account; (c) discontinuance or material modification to the Service or any part thereof; (d) a request and/or order from law enforcement, a judicial body, or other government agency; (e) where provision of the Service to you is or may become unlawful; (f) unexpected technical or security issues or problems; (g) your participation in fraudulent or illegal activities; or (h) failure to pay any fees owed by you in relation to the Service. Any such termination or suspension shall be made by us in our sole discretion, without any refund to you of any prepaid fees or amounts, and we will not be responsible to you or any third party for any damages that may result or arise out of such termination or suspension of your account and/or access to the Service.
      </p><h3>EFFECTS OF TERMINATION</h3>
      <p>
        Upon termination of your account you lose all access to the Service and any portions thereof, including, but not limited to, your Member Account (any Sub-accounts thereunder) and Subscriber ID. In addition, Caviar shall delete all information and data stored in or as a part of your account(s) including, but not limited to, data files, email, preferences and Submissions. Any individual components of the Service that you may have used subject to separate agreement will also be terminated in accordance with such separate license.
      </p><h3>LINKS</h3>
      <p>
        Certain Content, components or features of the Service may include materials from third parties and/or hyperlinks to other websites, resources or Content. Because Caviar may have no control over such third party sites and/or materials, you acknowledge and agree that Caviar is not responsible for the availability of such sites or resources, and does not endorse or warrant the accuracy of any such sites or resources, and shall in no way be liable or responsible for any Content, advertising, products or materials on or available from such sites or resources. You further acknowledge and agree that Caviar shall not be responsible or liable in any way for any damages you incur or allege to have incurred, either directly or indirectly, as a result of your use and/or reliance upon any such Content, advertising, products or materials on or available from such sites or resources.
      </p><h3>DISCLAIMER OF WARRANTIES</h3>
      <p>
        SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES, AS SUCH, TO THE EXTENT SUCH EXCLUSIONS ARE SPECIFICALLY PROHIBITED BY APPLICABLE LAW, SOME OF THE EXCLUSIONS SET FORTH BELOW MAY NOT APPLY TO YOU.
      </p>
      <p>
        YOU EXPRESSLY UNDERSTAND AND AGREE THAT YOUR USE OF THE SITE AND ANY SERVICE IS AT YOUR SOLE RISK AND THE SERVICE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. CAVIAR AND ITS AFFILIATES, SUBSIDIARIES, OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. IN PARTICULAR, CAVIAR AND ITS AFFILIATES, SUBSIDIARIES, OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS MAKE NO WARRANTY THAT (I) THE SITE OR THE SERVICES WILL MEET YOUR REQUIREMENTS; (II) YOUR USE OF THE SITE OR THE SERVICES WILL BE TIMELY, UNINTERRUPTED, SECURE OR ERROR-FREE; (III) ANY INFORMATION OBTAINED BY YOU AS A RESULT OF THE SITE OR THE SERVICES WILL BE ACCURATE OR RELIABLE; AND (IV) ANY DEFECTS OR ERRORS IN THE VOUCHERS OR OTHER ITEMS PROVIDED TO YOU AS PART OF THE SERVICES WILL BE CORRECTED.
      </p>
      <p>
        ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SITE OR THE SERVICES IS ACCESSED AT YOUR OWN DISCRETION AND RISK, AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR DEVICE OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM CAVIAR OR THROUGH OR FROM THE SERVICE SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THESE TOS.
      </p><h3>LIMITATION OF LIABILITY</h3>
      <p>
        SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, AS SUCH, TO THE EXTENT SUCH EXCLUSIONS OR LIMITATIONS ARE SPECIFICALLY PROHIBITED BY APPLICABLE LAW, SOME OF THE EXCLUSIONS OR LIMITATIONS SET FORTH BELOW MAY NOT APPLY TO YOU. YOU EXPRESSLY UNDERSTAND AND AGREE THAT CAVIAR AND ITS AFFILIATES, SUBSIDIARIES, OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS SHALL NOT BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES , INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA, COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, OR OTHER INTANGIBLE LOSSES (EVEN IF CAVIAR HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM: (I) THE USE OR INABILITY TO USE THE SITE OR THE SERVICES; (II) ANY CHANGES MADE TO THE SITE OR THE SERVICES OR ANY TEMPORARY OR PERMANENT CESSATION OF THE SITE OR THE SERVICES OR ANY PART THEREOF; (III) THE UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; (IV) THE DELETION OF, CORRUPTION OF, OR FAILURE TO STORE AND/OR SEND OR RECEIVE YOUR TRANSMISSIONS OR DATA ON OR THROUGH THE SITE OR THE SERVICES; (V) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SITE OR THE SERVICES; AND (VI) ANY OTHER MATTER RELATING TO THE SITE OR THE SERVICES. IN NO EVENT WILL CAVIAR’S LIABILITY IN CONNECTION WITH ANY SERVICE, INCLUDING ANY VOUCHER, EXCEED THE AMOUNT PAID FOR ANY SUCH SERVICE BY YOU.
      </p><h3>INDEMNITY</h3>
      <p>
        You agree to defend, indemnify and hold Caviar, its affiliates, subsidiaries, directors, officers, employees, agents, partners and licensors harmless from any claim or demand, including reasonable attorneys’ fees, made by a third party, relating to or arising from: (a) any Submissions you Distribute through the Site or the Services; (b) your use of the Site and/or the Services; (c) any violation by you of these TOS; or (d) your violation of any rights of another. This obligation shall survive the termination or expiration of these TOS and/or your use of the Services. You acknowledge that you are responsible for all use of the Services using your account, including any use by Sub-accounts, and that these TOS apply to any and all usage of your account, including any use by Sub-accounts. You agree to comply with these TOS and to defend, indemnify and hold harmless Caviar from and against any and all claims and demands arising from usage of your account or any Sub-account, whether or not such usage is expressly authorized by you.
      </p><h3>WAIVER</h3>
      <p>
        You acknowledge and agree that the issuer of a Voucher is the applicable Merchant and, that as the issuer of the Voucher, the Merchant shall be fully responsible for any and all injuries, illnesses, damages, claims, liabilities and costs suffered by you, caused in whole or in part by the Merchant, as well as for any unclaimed property liability arising from unredeemed Vouchers or portions thereof. You waive, and release Caviar and its officers, directors, employees and agents from, any claim, liabilities, damages, or injury arising from or related to any act or omission of a Merchant in connection with a Voucher or the services/goods provided in connection therewith and/or as it relates to compliance with applicable laws, including without lmitation unclaimed property laws relating to the redemption of the Vouchers or any portion thereof.
      </p>
      <p>
        In connection with the foregoing release, you hereby waive Delaware Civil Code Section 1542 (and any similar provision in any other jurisdiction) which states: "A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which, if known by him must have materially affected his settlement with the debtor."
      </p><h3>NOTICES</h3>
      <p>
        Caviar may provide you with notices regarding the Service, including changes to these TOS, by email to your email address reflected on your account (and/or other alternate email address if provided), by regular mail, or by postings on our Website.
      </p><h3>GOVERNING LAW</h3>
      <p>
        Except to the extent expressly provided in the following paragraph, these TOS and the relationship between you and Caviar shall be governed by the laws of the State of Delaware, excluding its conflicts of law provisions.
      </p><h3>GENERAL</h3>
      <p>
        These TOS constitute the entire agreement between you and Caviar, govern your use of the Site and the Services and completely replace any prior agreements between you and Caviar in relation to the Site or the Services. You may also be subject to additional terms and conditions that may apply when you use affiliate services, third-party content, or third-party software. If any part of these TOS is held invalid or unenforceable, that portion shall be construed in a manner consistent with applicable law to reflect, as nearly as possible, the original intentions of the parties, and the remaining portions shall remain in full force and effect. The failure of Caviar to exercise or enforce any right or provision of these TOS shall not constitute a waiver of such right or provision. You agree that, except as otherwise expressly provided in these TOS, there shall be no third-party beneficiaries to these TOS. You agree that any claim or cause of action arising out of or related to these TOS or the use of the Service must be filed within one (1) year after the cause of action arose or be forever barred.
      </p>
      <p>
        Last updated on 03 January 2014.
      </p>
    </div>
  </div>
</div>